Frontend/.DS_Store
Frontend/CLAUDE.md
/Frontend/node_modules
Frontend/src/.DS_Store
/Backend/gcloud/analyze-position/node_modules
/Backend/gcloud/stockfish-analysis/node_modules
/Backend/node_modules
/Backend/gcloud/stockfish-cloud-run/node_modules
/Backend/gcloud/stockfish-cloud-run/openings-cache
/Frontend/dist
Backend/.DS_Store
Frontend/.env.production
Frontend/.env.local
